<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CARTE</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <h1>CARTE</h1>
    <br />

    <div id='img_carte'>
    </div>


<!-- <map name="image-map">
    <area target="" alt="La Chopine Pleine" title="La Chopine Pleine" href="" coords="321,423,298,418,305,385,329,390" shape="poly" onclick="click_on_img('batiment', 1)">
    <area target="" alt="L'Arsenal du Chasseur" title="L'Arsenal du Chasseur" href="" coords="399,405,430,374,410,356,381,388" shape="poly" onclick="click_on_img('batiment', 2)">
    <area target="" alt="Le Forgeron Ardent" title="Le Forgeron Ardent" href="" coords="471,369,491,350,519,382,500,398" shape="poly" onclick="click_on_img('batiment', 3)">
    <area target="" alt="Le Poney Frétillant" title="Le Poney Frétillant" href="" coords="360,378,399,342,383,326,365,340,343,361" shape="poly" onclick="click_on_img('batiment', 4)">
    <area target="" alt="A la truie qui file" title="A la truie qui file" href="" coords="649,529,658,495,627,488,618,518" shape="poly" onclick="click_on_img('batiment', 5)">
    <area target="" alt="L'Auberge des Gobelins" title="L'Auberge des Gobelins" href="" coords="323,587,299,569,319,548,343,570" shape="poly" onclick="click_on_img('batiment', 6)">
    <area target="" alt="Le Tambour Cassé" title="Le Tambour Cassé" href="" coords="469,187,470,130,503,132,506,186" shape="poly" onclick="click_on_img('batiment', 7)">
    <area target="" alt="Le Dragon Dragueur" title="Le Dragon Dragueur" href="" coords="196,645,183,622,162,635,175,659" shape="poly" onclick="click_on_img('batiment', 8)">
    <area target="" alt="Plaine de Minas Tirith" title="Plaine de Minas Tirith" href="" coords="3,440,88,475,119,594,188,699,297,774,412,830,407,810,416,791,477,790,491,803,489,826,601,764,707,682,774,571,802,442,800,423,893,415,893,899,1,894" shape="poly" onclick="click_on_img('exterieur', 2)">
</map> -->

     <a href="index.html" style="color: darkslategrey;">index</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/src/views/javascript/carte.js"></script>
    <script src="/src/views/javascript/default.js"></script>
</body>

</html>