<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PROJET POUBELLE</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    
  <input type="text" id="field">
  
  <button id="test">
      Creation de personnage
  </button>
  
  
  <div id="print">

  </div>
  force : 29<br>agilite : 96<br>constitution : 88<br>intelligence : 91<br>intuition : 24<br>presence : 43<br>Elfe Noldor<br>
  {"success":1,"message":""}<pre class='xdebug-var-dump' dir='ltr'>
    <small>C:\wamp64\www\projet_bordel\app\src\controllers\personnage\creationpersonnage\CreationPersonnageController.php:97:</small>
    <b>object</b>(<i>App\Model\Classe\Creature\Personnage\PersonnageJoueur\DetailPersonnageJoueur\Races\ElfeNoldor</i>)[<i>48</i>]
      <i>protected</i> 'chance_obtenir_liste_sort_pourcentage' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>40</font>
      <i>protected</i> 'nb_degres_langages_additionnel' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
      <i>protected</i> 'nb_points_histor' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2</font>
      <i>protected</i> 'jr_essence' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'raciale' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'jr_theurgie' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'raciale' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'jr_poison' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'raciale' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
      <i>protected</i> 'jr_maladie' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'raciale' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>100</font>
      <i>protected</i> 'base_offensif_detail' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'base_defensif_detail' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'map_actuelle' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_race' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Elfe Noldor'</font> <i>(length=11)</i>
      <i>protected</i> 'identite_taille' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_age' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_poids' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_cheveux' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_yeux' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_signeparticulier' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_royaume' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_pointsdepouvoir' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'identite_penalitedencombrement' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'money_flouze_biff' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>20000</font>
      <i>protected</i> 'jr_essence_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'jr_theurgie_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'jr_poison_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>25</font>
      <i>protected</i> 'jr_maladie_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>115</font>
      <i>protected</i> 'caracteristique_force_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'caracteristique_agilite_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
      <i>protected</i> 'caracteristique_constitution_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'caracteristique_intelligence_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'caracteristique_intuition_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'caracteristique_presence_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_sansarmure_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>75</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cuirsouple_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-10</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cuirrigide_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cottedemaille_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-70</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_plate_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-4</font>
      <i>protected</i> 'comp_arme_tranchantunemain_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_arme_contondantunemain_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_arme_deuxmains_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_arme_armedelance_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_arme_projectile_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>35</font>
      <i>protected</i> 'comp_arme_armedhast_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_generale_escalade_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_generale_equitation_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_generale_natation_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>40</font>
      <i>protected</i> 'comp_generale_pistage_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>20</font>
      <i>protected</i> 'comp_subterfuge_embuscade_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_subterfuge_filatdissim_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>25</font>
      <i>protected</i> 'comp_subterfuge_crochetage_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-10</font>
      <i>protected</i> 'comp_subterfuge_desarmementdepiege_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
      <i>protected</i> 'comp_magie_lecturederune_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>25</font>
      <i>protected</i> 'comp_magie_utilisationdobjet_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_magie_directiondesort_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_physique_developcorporel_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>25</font>
      <i>protected</i> 'comp_physique_perception_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'point_de_vie' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'point_de_vie_max' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'base_defensif' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
      <i>protected</i> 'base_offensif' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'type_armure' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'type_arme' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'type_creature' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>1</font>
      <i>protected</i> 'nom' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'bdd' <font color='#888a85'>=&gt;</font> 
        <b>object</b>(<i>mysqli</i>)[<i>56</i>]
          <i>public</i> 'client_version' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>70409</font>
          <i>public</i> 'connect_errno' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          <i>public</i> 'connect_error' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_nom' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_abreviation' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_cout' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_poids' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_statistique_maladresse' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_statistique_coupcritprimaire' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_statistique_coupcritsecondaire' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_statistique_modifspeciaux' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'arme_statistique_enchantement' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_nom' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_cout' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_poids' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_bouclier_type' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_jambiere_type' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_brassiere_type' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'armure_casque_type' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      <i>protected</i> 'langue_Adûnaic' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3</font>
      <i>protected</i> 'langue_Apysaic' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Atliduk' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Haradaic' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Khuzdul' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Kuduk' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Labba' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Logathig' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Nahaiduk' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Noirparler' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Orque' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Pûkael' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Quenya' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'langue_Rohirric' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Sindarin' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'langue_Sylvain' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Umitic' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Varadja' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Waildyth' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'langue_Westron' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_sansarmure' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>40</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cuirsouple' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-15</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cuirrigide' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-30</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_cottedemaille' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-45</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_manoeuvreetmouvement_plate' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>56</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-60</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_tranchantunemain' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_contondantunemain' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_deuxmains' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_armedelance' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_projectile' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_arme_armedhast' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_generale_escalade' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_generale_equitation' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_generale_natation' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_generale_pistage' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_subterfuge_embuscade' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_subterfuge_filatdissim' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_subterfuge_crochetage' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_subterfuge_desarmementdepiege' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_magie_lecturederune' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_magie_utilisationdobjet' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_magie_directiondesort' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>-25</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>30</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_physique_developcorporel' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'comp_physique_perception' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=7)</i>
          'degre' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'carac' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'innee' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'special_1' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'special_2' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'experience_total' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'niveau' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'caracteristique_force' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'val' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>29</font>
          'norm' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
          'race' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      <i>protected</i> 'caracteristique_agilite' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'val' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>96</font>
          'norm' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
          'race' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>15</font>
      <i>protected</i> 'caracteristique_constitution' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'val' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>88</font>
          'norm' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
          'race' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
      <i>protected</i> 'caracteristique_intelligence' <font color='#888a85'>=&gt;</font> 
        <b>array</b> <i>(size=3)</i>
          'val' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>91</font>
          'norm' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>10</font>
          'race' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5</font>
      <i>more elements...</i>
    </pre>

  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/src/views/javascript/index.js"></script>
</body>

</html>