<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PROJET POUBELLE</title>
    <link rel="icon" type="image/png" href="#"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style='margin-left: 5px'> 

  <h1>Index</h1>
  <br />

  <div id="connexion_inscription" style="display:none">
    <h4> Veuillez vous connecter : </h1>
    <form method="POST" id="form_connexion" style="margin-bottom: 100px;">
      <table>
          <tr>
              <td>
                  <label for="pseudo">&nbsp&nbsp&nbsp Pseudo :</label>
              </td>
              <td>	
                  <input type="text" name="pseudo_connect" placeholder="Pseudo" value="" required/>
              </td>
          </tr>		
          <tr>	
              <td>
                  <label for="mdp">&nbsp&nbsp&nbsp Mot de passe :</label>
              </td>
              <td>
                  <input type="password" name="mdp_connect" placeholder="Mot de passe" value="" required/>    
              </td>
          </tr>
      </table>
      <br />
      <input type="submit" name="input_connexion" value="Se connecter" />
      <br />
      <span id="erreur_connexion" style="color:lightcoral"></span>
    </form>


    <h4> Veuillez vous inscrire : </h1>
      <form method="POST" id="form_inscription" style="margin-bottom: 100px;">
        <table>
            <tr>
                <td>
                    <label for="pseudo">&nbsp&nbsp&nbsp Pseudo :</label>
                </td>
                <td>	
                    <input type="text" name="pseudo_inscrire" placeholder="Pseudo" value="" required/>
                </td>
            </tr>		
            <tr>	
                <td>
                    <label for="mdp">&nbsp&nbsp&nbsp Mot de passe :</label>
                </td>
                <td>
                    <input type="password" name="mdp_inscrire" placeholder="Mot de passe" value="" required/>    
                </td>
            </tr>
            <tr>	
                <td>
                    <label for="mdp">&nbsp&nbsp&nbsp Confirmation Mot de passe :</label>
                </td>
                <td>
                    <input type="password" name="confirmation_mdp_inscrire" placeholder="Comfirmation Mot de passe" value="" required/>    
                </td>
            </tr>
        </table>
        <br />
        <input type="submit" name="input_inscription" value="S'inscrire" /><br />
        <span id="erreur_inscription"  style="color:lightcoral"></span>
    </form>
  </div>

  <div id="sans_personnage" style="display:none">
    <a href="creationpersonnage.html">Creation de personnage</a>
  </div>

  <div id="avec_personnage" style="display:none">
    <a href="carte.html">Jouer</a>
  </div>

  <button id="deconnexion" style="display:none; margin-top : 5px">
    Deconnexion
  </button>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/src/views/javascript/index.js"></script>
</body>

</html>