<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MAGASIN</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table
        {
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        td, th /* Mettre une bordure sur les td ET les th */
        {
            border: 1px solid black;
            padding : 3px 10px;
            font-size: .9rem;
        }
    </style>
</head>

<body>
    <h1>MAGASIN</h1>
    <br />


    <div id='div_objet_achat' style="width: 50%; float: left;padding-left: 20px;">
        <h4 style="margin-bottom: 18px;">A vendre : </h4>
        <table id="objet_achat">
            <thead>
                <tr>
                    <th>
                        Nom 
                    </th>
                    <th>
                        Type d'objet
                    </th>
                    <th>
                        Poids
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id='div_inventaire_vendre' style="width: 50%; float: right;">
        <h4 style="margin-bottom: 18px;">Inventaire : </h4>
        <table id="objet_vendre">
            <thead>
                <tr>
                    <th>
                        Nom 
                    </th>
                    <th>
                        Type d'objet
                    </th>
                    <th>
                        Poids
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <em style="font-size : 14px;">*Vendre un objet ne vous rapportera que 60% de son prix d'origine</em>    
    </div>

    <div id='redirection' style="width: 100%; float: left;">
        <a href="carte.html" style="color: darkslategrey;">carte</a><br />
        <a href="index.html" style="color: darkslategrey;">index</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/src/views/javascript/marchand.js"></script>
    <script src="/src/views/javascript/default.js"></script>
</body>

</html>