<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PROJET POUBELLE</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    
    <button id="test">
        Retour
    </button>

    <div id="creation_perso_etape1" style='display: block;'>
        Cliquez pour avoir les 6 caracteristiques : <button id="creation_perso_etape1_caracteristique_tirer">Tirer</button>
        <br />
        <br />
        <div id="creation_perso_etape1_caracteristique">
        </div>
        
        <button id="creation_perso_etape1_caracteristique_valider" style='display: none;'>Valider</button>

        <!-- <form>
            <input type="radio" id="force" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="force">Force
            <input type="radio" id="agilite" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="agilite">Agilite
            <input type="radio" id="constitution" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="constitution">Constitution
            <input type="radio" id="intelligence" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="intelligence">Intelligence
            <input type="radio" id="intuition" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="intuition">Intuition
            <input type="radio" id="presence" name="jet_' + nombre_de_tir_de_des_caracteristique + '" value="presence">Presence
        </form> -->

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/app/views/javascript/creationpersonnage.js"></script>
</body>

</html>